aiohttp==3.7.4.post0
anyio==3.5.0
asgiref==3.5.0
async-timeout==3.0.1
attrs==21.4.0
certifi==2020.6.20
cffi==1.15.0
chardet==4.0.0
click==8.1.2
cryptography==37.0.2
discord==1.7.3
discord.py==1.7.3
fastapi==0.75.1
h11==0.13.0
httplib2==0.18.1
httptools==0.4.0
idna==2.10
multidict==6.0.2
mysql-connector-python==8.0.28
paypalrestsdk==1.13.1
protobuf==3.20.0
pycparser==2.21
pycurl==7.43.0.6
pydantic==1.9.0
pyOpenSSL==22.0.0
PySimpleSOAP==1.16.2
python-apt==2.2.1
python-debian==0.1.39
python-debianbts==3.1.0
python-dotenv==0.20.0
PyYAML==6.0
reportbug==7.10.3+deb11u1
requests==2.25.1
six==1.16.0
sniffio==1.2.0
starlette==0.17.1
typing-extensions==4.1.1
urllib3==1.26.5
uvicorn==0.17.6
uvloop==0.16.0
watchgod==0.8.2
websockets==10.2
yarl==1.7.2
